.dirstamp
stamp-h1
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
config.log
config.status
configure
oci-uid-hook
oci-uid-hook.1
.deps/
src/.deps/
src/.dirstamp
uidhook.o
src/oci_uid_hook-uidhook.o
build-aux/
config.h
config.h.in
stamp-*
*.gz
